In [1]:
from urllib2 import urlopen

from bs4 import BeautifulSoup
import pandas as pd
import re

import numpy as np

### Add the category type of internship which you want to scrape

In [168]:
html1 = urlopen("https://internshala.com/internships/data%20science-internship/page-1")
html_soup1 = BeautifulSoup(html1, 'html.parser')
#beers_list = get_all_beers(html_soup)

html2 = urlopen("https://internshala.com/internships/data%20science-internship/page-2")
html_soup2 = BeautifulSoup(html2, 'html.parser')
#beers_list = get_all_beers(html_soup)

In [195]:
internships_and_jobs1 = pd.DataFrame(np.arange(1000),columns=["Nature_of_job"])
internships_and_jobs2 = pd.DataFrame(np.arange(1000),columns=["Nature_of_job"])

In [196]:
internships_and_jobs1["name_of_company"] = np.nan
internships_and_jobs1["start_date"] = np.nan
internships_and_jobs1["duration"] = np.nan
internships_and_jobs1["stipened"] = np.nan
internships_and_jobs1["posted_on"] = np.nan
internships_and_jobs1["apply_by"] = np.nan
internships_and_jobs1["brief_description"] = np.nan
internships_and_jobs1["Nature_of_job"] = np.nan
internships_and_jobs1["city"] = np.nan

internships_and_jobs2["name_of_company"] = np.nan
internships_and_jobs2["start_date"] = np.nan
internships_and_jobs2["duration"] = np.nan
internships_and_jobs2["stipened"] = np.nan
internships_and_jobs2["posted_on"] = np.nan
internships_and_jobs2["apply_by"] = np.nan
internships_and_jobs2["brief_description"] = np.nan
internships_and_jobs2["Nature_of_job"] = np.nan
internships_and_jobs2["city"] = np.nan

#### Name of comapany

In [125]:
name_of_company = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[0].findAll('h4')[1].findAll('a')[0].get('title'))

In [126]:
name_of_company

'Administrative Staff College Of India'

#### Nature of job

In [122]:
nature_of_job = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[0].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[0].findAll('h4')[0].get('title'))

In [123]:
nature_of_job

'Research (Finance/Management)'

#### descripton of the job

In [139]:
brief_description = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[0].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[1].findAll('div',attrs={"class":"internship_logo"})[0].findAll('img')[0].get('alt'))

In [140]:
brief_description

'Research (Finance/Management) Internship at Administrative Staff College Of India in Hyderabad'

#### city of the internship

In [149]:
city = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[0].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('a')[0].contents[0])

In [150]:
city

'Hyderabad'

#### when to start

In [170]:
when_to_start = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[0].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[0].findAll('div',attrs={"id":"start-date-first"})[0].contents[0])

In [172]:
when_to_start = re.sub('\r\n','',when_to_start)

when_to_start = re.sub(' ','',when_to_start)

In [176]:
when_to_start

'Immediately'

#### duration

In [182]:
duration = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[0].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[1].contents[0])

In [183]:
duration = re.sub('\r\n','',duration)
duration =re.sub(' ','',duration)

In [185]:
duration

'3Months'

#### stipend

In [193]:
stipend = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[5].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[2].contents[2])

In [194]:
stipend = re.sub(' ','',stipend)

In [195]:
stipend

'8000-10000/Month'

#### posted on

In [205]:
posted_on = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[5].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[3].contents[0])

In [206]:
posted_on = re.sub(' ','',posted_on)
posted_on = re.sub('\r\n','',posted_on)

In [209]:
posted_on

"28Dec'16"

#### apply by

In [216]:
apply_by = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[5].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[4].contents[0])

In [217]:
apply_by = re.sub('\r\n','',apply_by)
apply_by = re.sub(' ','',apply_by)

In [219]:
apply_by

"31Jan'17"

In [220]:
html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[5].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')

[<td>\n<div id="start-date-first">\r\n                                Immediately                            </div>\n</td>,
 <td>\r\n                            2 Months                        </td>,
 <td>\n<i class="fa fa-inr"></i>8000-10000 /Month                                                    </td>,
 <td>\r\n                            28 Dec'16                        </td>,
 <td>\r\n                            31 Jan'17                        </td>]

In [182]:
total = len(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"}))

In [17]:
np.arange(1)

array([0])

In [115]:
total

40

In [201]:
for i in np.arange(total):
    list2 = []
    try :
        name_of_company = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[0].findAll('h4')[1].findAll('a')[0].contents[0])
        internships_and_jobs2.name_of_company.iloc[i] = name_of_company
        
    except IndexError :
        internships_and_jobs2.name_of_company.iloc[i] = "no_value"
    try:    
        nature_of_job = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[0].findAll('h4')[0].get('title'))
        internships_and_jobs2.Nature_of_job.iloc[i] = nature_of_job
    except IndexError:
        internships_and_jobs2.Nature_of_job.iloc[i] = "no_value"
    try:
        brief_description = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[1].findAll('div',attrs={"class":"internship_logo"})[0].findAll('img')[0].get('alt'))
        internships_and_jobs2.brief_description.iloc[i] = brief_description
    except IndexError:
        internships_and_jobs2.brief_description.iloc[i] = "no_value"
    try:
        city = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('a')[0].contents[0])
        internships_and_jobs2.city.iloc[i] = city
    except IndexError:
        internships_and_jobs2.city.iloc[i] ="no_value"
    try:
        when_to_start = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[0].findAll('div',attrs={"id":"start-date-first"})[0].contents[0])
        when_to_start = re.sub('\r\n','',when_to_start)
        when_to_start = re.sub(' ','',when_to_start)
        internships_and_jobs2.start_date.iloc[i] = when_to_start
    except IndexError:
        internships_and_jobs2.start_date.iloc[i] = "no_value"
    try:
        stipend = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[2].contents[2])
        stipend = re.sub(' ','',stipend)        
        internships_and_jobs2.stipened.iloc[i] = stipend
    except IndexError:
        internships_and_jobs2.stipened.iloc[i] = "no_value"
    try:
        apply_by = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[4].contents[0])
        apply_by = re.sub('\r\n','',apply_by)
        apply_by = re.sub(' ','',apply_by)
        internships_and_jobs2.apply_by.iloc[i] = apply_by
    except IndexError:
        internships_and_jobs2.apply_by.iloc[i] = "no_value"
    try:
        posted_on = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[3].contents[0])
        posted_on = re.sub(' ','',posted_on)
        posted_on = re.sub('\r\n','',posted_on)
        internships_and_jobs2.posted_on.iloc[i] = posted_on
    except IndexError:
        internships_and_jobs2.posted_on.iloc[i] = "no_value"
    try:    
        duration = str(html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[1].contents[0])
        duration = re.sub('\r\n','',duration)
        duration =re.sub(' ','',duration)        
        internships_and_jobs2.duration.iloc[i] = duration
    except IndexError:    
        internships_and_jobs2.duration.iloc[i] = "no_value"

In [203]:
internships_and_jobs2.iloc[0:40,:]

,Nature_of_job,name_of_company,start_date,duration,stipened,posted_on,apply_by,brief_description,city
0,Research (Finance/Management),Administrative Staff College Of India,Immediately,3Months,20000/Month,17Jan'17,31Jan'17,Research (Finance/Management) Internship at Ad...,Hyderabad
1,Business Analyst - Customer Care,Nestaway Technologies Pvt. Ltd.,Immediately,6Months,10000/Month,11Jan'17,25Jan'17,no_value,Bangalore
2,Android Application & Machine Learning Based R...,IIT Bombay,Immediately,6Months,6000/Month,2Jan'17,6Feb'17,Android Application & Machine Learning Based R...,Mumbai
3,Data Analytics & Big Data Research,Tech Mahindra,Immediately,2Months,8000-10000/Month,28Dec'16,31Jan'17,no_value,Hyderabad
4,Data Science,Cappius Technologies Inc,Immediately,6Months,12000/Month,23Jan'17,6Feb'17,Data Science Internship at Cappius Technologie...,Hyderabad
5,Technology Analytics,SPI New Initiatives,Immediately,3Months,10000/Month,23Jan'17,6Feb'17,no_value,Chennai
6,Artificial Intelligence (AI),Appgram Technologies Pvt Ltd,Immediately,6Months,10000/Week,23Jan'17,6Feb'17,no_value,Bangalore
7,Product Data Management,Homergize,Immediately,1Month,3000-5000/Month,23Jan'17,6Feb'17,Product Data Management Internship at Homergiz...,Bangalore
8,Internet Marketing Research,Reappoint Internet,Immediately,3Months,5000-10000/Month,23Jan'17,6Feb'17,Internet Marketing Research Internship at Reap...,Noida
9,IIT JEE Questions Analysis,Fran Biz Corp,Immediately,2Months,10000/Month,23Jan'17,6Feb'17,IIT JEE Questions Analysis Internship at Fran ...,Work From Home
10,Business Analytics,Paramotor Digital Technology Private Limited,Immediately,6Months,3000/Month,23Jan'17,6Feb'17,no_value,Mumbai
11,Big Data,Mastiska Technology Private Limited,Immediately,6Months,10000-20000/Month,23Jan'17,5Feb'17,Big Data Internship at Mastiska Technology Pri...,Mohali
12,Artificial Intelligence (AI),Hacklab Innovations,Immediately,3Months,8000-11000/Month,20Jan'17,3Feb'17,no_value,Bangalore
13,Artificial Intelligence Intern,Worlzen,Immediately,1Month,5000/Month,20Jan'17,3Feb'17,Artificial Intelligence Intern Internship at W...,Mumbai
14,Data Science,GyanDhan,Immediately,2Months,6000/Month,20Jan'17,3Feb'17,Data Science Internship at GyanDhan in,Work From Home
15,Data Science - Analytical Product Development,Think Analytics India Pvt Ltd,Immediately,6Months,25000/Month,19Jan'17,2Feb'17,no_value,Mumbai
16,Marketing,Creatella,Immediately,3Months,10-200/Month,19Jan'17,2Feb'17,no_value,Work From Home
17,Social Media Marketing,Bait Content & Digital Solutions Pvt. Ltd.,Immediately,6Months,10000-15000/Month,19Jan'17,1Feb'17,Social Media Marketing Internship at Bait Cont...,Gurgaon
18,Content Writing,Aptus Data Labs,Immediately,6Months,5000-10000/Month,18Jan'17,1Feb'17,no_value,Bangalore
19,Business Development (Sales),VARNA GRAFICS,Immediately,6Months,15000/Month,18Jan'17,1Feb'17,no_value,Mumbai
20,Data Analytics,Xenonstack,Immediately,6Months,15000-25000/Month,18Jan'17,22Feb'17,Data Analytics Internship at Xenonstack in Cha...,Chandigarh
21,Marketing,Edutainmentventure,Immediately,6Months,10000/Month,18Jan'17,1Feb'17,Marketing Internship at Edutainmentventure in ...,Gurgaon
22,Database Building/Management,Om Tubes & Fittings Industries,Immediately,3Months,5000/Month,18Jan'17,1Feb'17,Database Building/Management Internship at Om ...,Mumbai
23,Data Analytics,CabMe,Immediately,3Months,2000-5000/Month,18Jan'17,22Feb'17,no_value,Work From Home
24,Business Development (Sales),Geepay,Immediately,4Months,5000/Month,17Jan'17,31Jan'17,Business Development (Sales) Internship at Gee...,Pune
25,Field Research (Social Science),Life Circle Health Services,Immediately,1Month,5000/Month,17Jan'17,30Jan'17,Field Research (Social Science) Internship at ...,Hyderabad
26,Research Analysis (Cars),Garipoint,Immediately,2Months,5000/Month,16Jan'17,30Jan'17,Research Analysis (Cars) Internship at Garipoi...,Delhi
27,Market Research,Milagrow Humantech,Immediately,3Months,10000/Month,16Jan'17,30Jan'17,no_value,Gurgaon
28,Artificial Intelligence Research,Fusion Engineering,Immediately,6Months,20000/Month,16Jan'17,30Jan'17,no_value,Mumbai
29,Digital Marketing,Silber Strategic Communications Pvt. Ltd.,Immediately,3Months,5000-7000/Month,16Jan'17,30Jan'17,Digital Marketing Internship at Silber Strateg...,Gurgaon
30,Business Development (Sales),Heptagon,Immediately,2Months,5000-10000/Month,16Jan'17,30Jan'17,Business Development (Sales) Internship at Hep...,Bangalore
31,Operations,My Loan Partner,Immediately,2Months,3000-6000/Month,16Jan'17,30Jan'17,Operations Internship at My Loan Partner in Noida,Noida
32,Mobile App Development,Milagrow Humantech,Immediately,3Months,10000/Month,16Jan'17,30Jan'17,no_value,Gurgaon
33,Business Research,Greenhandle.in,Immediately,6Months,5000/Month,16Jan'17,29Jan'17,Business Research Internship at Greenhandle.in...,Mumbai
34,Market & Product Analysis,Greenhandle.in,Immediately,6Months,5000/Month,16Jan'17,29Jan'17,Market & Product Analysis Internship at Greenh...,Mumbai
35,Research Analytics,DeployDeck,Immediately,2Months,5000-10000/Month,16Jan'17,29Jan'17,Research Analytics Internship at DeployDeck in...,Bangalore
36,Full-Stack Software Development,Stichio,Immediately,4Months,12000-17000/Month,16Jan'17,29Jan'17,no_value,Hyderabad
37,Business Development (Sales),Okhlee,Immediately,6Months,5000/Month,16Jan'17,27Jan'17,no_value,Jaipur
38,Analyst,Elucida Global,Immediately,6Months,15000/Month,15Jan'17,29Jan'17,no_value,Delhi
39,Business Analyst,Idealvillage,Immediately,3Months,no_value,14Jan'17,28Jan'17,Business Analyst Internship at Idealvillage in,Work From Home

In [65]:
html_soup.findAll('div',attrs={"class":"container-fluid individual_internship"})[i]

In [197]:
total2 = len(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"}))

In [198]:
for i in np.arange(total2):
    
    try :
        name_of_company = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[0].findAll('h4')[1].findAll('a')[0].contents[0])
        internships_and_jobs1.name_of_company.iloc[total+i] = name_of_company
        
    except IndexError :
        internships_and_jobs1.name_of_company.iloc[total+i] = "no_value"
    try:    
        nature_of_job = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[0].findAll('h4')[0].get('title'))
        internships_and_jobs1.Nature_of_job.iloc[total+i] = nature_of_job
    except IndexError:
        internships_and_jobs1.Nature_of_job.iloc[total+i] = "no_value"
    try:
        brief_description = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[1].findAll('div',attrs={"class":"internship_logo"})[0].findAll('img')[0].get('alt'))
        internships_and_jobs1.brief_description.iloc[total+i] = brief_description
    except IndexError:
        internships_and_jobs1.brief_description.iloc[total+i] = "no_value"
    try:
        city = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('a')[0].contents[0])
        internships_and_jobs1.city.iloc[total+i] = city
    except IndexError:
        internships_and_jobs1.city.iloc[total+i] ="no_value"
    try:
        when_to_start = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[0].findAll('div',attrs={"id":"start-date-first"})[0].contents[0])
        when_to_start = re.sub('\r\n','',when_to_start)
        when_to_start = re.sub(' ','',when_to_start)
        internships_and_jobs1.start_date.iloc[total+i] = when_to_start
    except IndexError:
        internships_and_jobs1.start_date.iloc[total+i] = "no_value"
    try:
        stipend = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[2].contents[2])
        stipend = re.sub(' ','',stipend)        
        internships_and_jobs1.stipened.iloc[total+i] = stipend
    except IndexError:
        internships_and_jobs1.stipened.iloc[total+i] = "no_value"
    try:
        apply_by = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[4].contents[0])
        apply_by = re.sub('\r\n','',apply_by)
        apply_by = re.sub(' ','',apply_by)
        internships_and_jobs1.apply_by.iloc[total+i] = apply_by
    except IndexError:
        internships_and_jobs1.apply_by.iloc[total+i] = "no_value"
    try:
        posted_on = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[3].contents[0])
        posted_on = re.sub(' ','',posted_on)
        posted_on = re.sub('\r\n','',posted_on)
        internships_and_jobs1.posted_on.iloc[total+i] = posted_on
    except IndexError:
        internships_and_jobs1.posted_on.iloc[total+i] = "no_value"
    try:    
        duration = str(html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_details"})[0].findAll('td')[1].contents[0])
        duration = re.sub('\r\n','',duration)
        duration =re.sub(' ','',duration)        
        internships_and_jobs1.duration.iloc[total+i] = duration
    except IndexError:    
        internships_and_jobs1.duration.iloc[total+i] = "no_value"

In [200]:
internships_and_jobs1.iloc[40:81,:]

,Nature_of_job,name_of_company,start_date,duration,stipened,posted_on,apply_by,brief_description,city
40,Machine Learning,Stratbeans,Immediately,6Months,6000-8000/Month,14Jan'17,27Jan'17,no_value,Bangalore
41,Operations,Indian Wealth Management,Immediately,6Months,7000-14000/Month,13Jan'17,27Jan'17,Operations Internship at Indian Wealth Managem...,Ahmedabad
42,Machine Learning,Untrodden Labs,Immediately,1Month,4000/Month,13Jan'17,27Jan'17,Machine Learning Internship at Untrodden Labs ...,Delhi
43,Social Media Marketing,AGENC,Immediately,3Months,7000/Month,13Jan'17,27Jan'17,Social Media Marketing Internship at AGENC in ...,Kolkata
44,Artificial Intelligence (AI),Untrodden Labs,Immediately,1Month,4000/Month,13Jan'17,27Jan'17,Artificial Intelligence (AI) Internship at Unt...,Delhi
45,Social Media Marketing,AGENC,Immediately,3Months,7000/Month,13Jan'17,27Jan'17,Social Media Marketing Internship at AGENC in ...,Gurgaon
46,Content Writing,ChatterOn,Immediately,2Months,500-3000/Month,13Jan'17,31Jan'17,no_value,Work From Home
47,Model Verification/Analytical Testing,Institutional Shareholder Services India Pvt. ...,Immediately,6Months,30000-40000/Month,13Jan'17,27Jan'17,no_value,Mumbai
48,Deep Learning & Computer Vision,TextComputing,Immediately,3Months,6000-10000/Month,13Jan'17,17Feb'17,Deep Learning & Computer Vision Internship at ...,Chennai
49,Business Analyst - Urgent Position,G-Square Solutions Pvt Ltd,Immediately,3Months,5000-7000/Month,12Jan'17,26Jan'17,no_value,Mumbai
50,Research Analysis,Indian Institute Of Digital Education,Immediately,6Months,5000/Month,12Jan'17,24Jan'17,no_value,Mumbai
51,Social Media Marketing,Eccentrips Media,Immediately,1Month,2000/Month,12Jan'17,26Jan'17,no_value,Work From Home
52,Product Management,19th Mile Capability Solutions Pvt. Ltd.,Immediately,6Months,8000/Month,12Jan'17,26Jan'17,no_value,Gurgaon
53,Marketing,Medinfi Healthcare Pvt Ltd,Immediately,3Months,5000-10000/Month,12Jan'17,26Jan'17,Marketing Internship at Medinfi Healthcare Pvt...,Bangalore
54,Business Analytics,Bundl Technologies Private Limited,Immediately,6Months,10000/Month,11Jan'17,25Jan'17,no_value,Delhi
55,Disease State Research & Analysis,Bioscan,Immediately,6Months,1000Lump-Sum,11Jan'17,25Jan'17,no_value,Ahmedabad
56,Clinical Data Analyst,Savy Software Pvt Ltd,Immediately,3Months,13500/Month,11Jan'17,25Jan'17,no_value,Pune
57,Business Analytics,T-Hub Foundation,Immediately,3Months,5000-8000/Month,11Jan'17,25Jan'17,Business Analytics Internship at T-Hub Foundat...,Hyderabad
58,Government Startup Policy Research,Schemopedia.org,Immediately,2Months,3000/Month,11Jan'17,25Jan'17,Government Startup Policy Research Internship ...,Work From Home
59,Software Analysis,Radical Logix,Immediately,6Months,4000-8000/Month,11Jan'17,25Jan'17,Software Analysis Internship at Radical Logix ...,Noida
60,Software And Algorithm Development,True Positive Analytics,Immediately,6Months,15000-25000/Month,11Jan'17,25Jan'17,Software And Algorithm Development Internship ...,Mumbai
61,Software Development,Flow Edge Financial Solutions,Immediately,2Months,12000/Month,10Jan'17,14Feb'17,no_value,Bangalore
62,Trading System Development(MATLAB),Waves Research & Advisory Pvt Ltd,10Feb-10Mar'17,2Months,2000-5000/Month,10Jan'17,8Feb'17,no_value,Mumbai
63,Marketing,SIG SYSTEMS Pvt. Ltd.,Immediately,2Months,4000-5000/Month,10Jan'17,24Jan'17,Marketing Internship at SIG SYSTEMS Pvt. Ltd. ...,Gurgaon
64,Mobile App Development,Thoughtcliff Technologies,Immediately,1Month,5000/Month,10Jan'17,24Jan'17,no_value,Work From Home
65,Business Research And Analysis,Crimson Angle,Immediately,1Month,3000/Month,10Jan'17,23Jan'17,Business Research And Analysis Internship at C...,Work From Home
66,Research Analyst,NBA Techsolutions,Immediately,3Months,4000-6000/Month,9Jan'17,23Jan'17,Research Analyst Internship at NBA Techsolutio...,Indore
67,Data Science,CrowdANALYTIX,Immediately,6Months,15000/Month,9Jan'17,23Jan'17,no_value,Bangalore
68,Market And Business Analytics,Nujster Fitness,Immediately,3Months,2000-4000/Month,9Jan'17,13Feb'17,no_value,Nagpur
69,Artificial Neural Networks,Augment Systems Pvt Ltd,Immediately,2Months,no_value,9Jan'17,23Jan'17,Artificial Neural Networks Internship at Augme...,Delhi
70,IEEE Project Development,ThinkSoft Research And IT Technologies,Immediately,4Months,5000/Month,9Jan'17,4Feb'17,IEEE Project Development Internship at ThinkSo...,Belagavi
71,Data Analytics,Shout Networking,Immediately,3Months,6000/Month,9Jan'17,23Jan'17,Data Analytics Internship at Shout Networking ...,Delhi
72,Operations,Redwood Edutours,Immediately,3Months,5000-7000/Month,9Jan'17,31Jan'17,no_value,Nagpur
73,Machine Learning,Myraa Technologies,Immediately,3Months,10000-20000/Month,6Jan'17,10Feb'17,no_value,Navi Mumbai
74,Backend Development,Etern Group,Immediately,3Months,10000-15000/Month,6Jan'17,24Jan'17,no_value,Work From Home
75,Video And Mass Media Analytics,Zenten,Immediately,2Months,15000-18000/Month,6Jan'17,9Feb'17,Video And Mass Media Analytics Internship at Z...,Gurgaon
76,Python OpenCV Coding,ProfiledSkin,Immediately,5Months,4000-9000/Month,4Jan'17,25Jan'17,Python OpenCV Coding Internship at ProfiledSki...,Ahmedabad
77,Business Analytics,Wobot Labs,Immediately,2Months,5000/Month,4Jan'17,26Jan'17,no_value,Noida
78,Digital Marketing,ExcellenceTech Infosystems Private Limited,Immediately,3Months,7000-14000/Month,3Jan'17,31Jan'17,Digital Marketing Internship at ExcellenceTech...,Kolkata
79,Research Analysis,Sattva Investment Advisors Pvt. Ltd,Immediately,6Months,10000-15000/Month,3Jan'17,31Jan'17,Research Analysis Internship at Sattva Investm...,Mumbai
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
html_soup2.findAll('div',attrs={"class":"container-fluid individual_internship"})[i].findAll('div',attrs={"class":"individual_internship_header"})[0].findAll('div',attrs={"class":"table-cell"})[0].findAll('h4')

[<h4 title="Research Analysis">\r\n                Research Analysis\r\n            </h4>,
 <h4><a href="/internships/internship-at-Sattva%20Investment%20Advisors%20Pvt.%20Ltd" title="Sattva Investment Advisors Pvt. Ltd">Sattva Investment Advisors Pvt. Ltd</a></h4>]